/* ++++ Common Classes ++++ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 20px;
    color: black;
}
.container{
    width: 80vw;
    margin: auto;
}
.ptb{
    padding-top: 50px;
    padding-bottom: 50px;
}
.ptbs{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ml{
    margin-left: 15px;
}
.mr{
    margin-right: 15px;
}
p{
    font-weight: 300;
}
ul{
    margin: 0px;
    padding: 0px;
}
/* +++++ Home Classes ++++++ */

.Home{
    background-image: url("https://images.unsplash.com/photo-1483653364400-eedcfb9f1f88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
}
.Home .navigation-bar{
    display: flex;
    justify-content: space-between;
}
.Home .navigation-bar .list ul{
    display: flex;
    list-style-type: none;
}
.Home .navigation-bar .list ul li{
    padding-right: 20px;
}
.Home .navigation-bar .list ul li a{
    text-decoration: none;
}
.Home .title{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Home .title div{
    font-size: 50px;
}
.Home .title .button{
    padding: 50px 0px;
}
.Home .title .button button{
    border-radius: 25px;
    padding: 20px 30px;
    background-color: #f14984;
    color: white;
}
.Home .navigation-bar .dropdown{
    display: none;
}
/* Media Quries of Home classes */
@media screen and (max-width:768px){
    .Home .navigation-bar .list ul .symb{
        display: none;
    }
    .Home .navigation-bar .list ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 90px;
        background-color: rgb(253, 176, 206);
        border-radius: 20px;
        width: 60%;
        text-align: center;
    }
    .Home .navigation-bar .list ul li{
        padding: 20px 0px;
        padding-left: 0px;
        border-bottom: 1px solid black;
    }
    .Home .navigation-bar .list ul li:last-child{
        border: none;
    }
    .Home .navigation-bar .list ul.active{
        display: flex;
    }
    .Home .navigation-bar .dropdown{
        display: block;
        background-color: inherit;
    }
}
@media screen and (max-width:425px){
    .Home .navigation-bar .list ul{
        top: 3rem;
        right: 3rem;
    }
}
/* +++++ Mission classes +++++ */

.mission-content{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.Mission .mission-content .heading{
    font-size: 84px;
    font-weight: 300;
}
/* Mission Media Queries */
@media screen and (max-width:768px){
    .mission-content{
        padding: 0px;
    }
    .Mission .mission-content .heading{
        font-size: 60px;
    }
}

/* +++++ People Classes +++++ */
.People{
    background-color: lightgrey;
}
.People .people-content{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.People .people-content .heading{
    font-size: 84px;
    font-weight: 300;
}
.People .people-images{
    display: flex;
}
.People .people-images .people-cont .img img{
    width: 100%;
}
.People .people-images .people-cont{
    justify-content: space-between;
}
.People .people-images .people-cont .img-text{
    border-bottom: 1px solid black;
    width: 80%;
}
/* People Media Queries */
@media screen and (max-width:768px){
    .People .people-content{
        padding: 0px;
    }
    .People .people-content .heading{
        font-size: 60px;
    }
    .People .people-images{
        flex-direction: column;
    }
    .People .people-images .people-cont{
        margin: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/* +++++ Pink Classes +++++ */
.Pink{
    background-color:  #ff699D;
}
.Pink .pink-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.Pink .pink-content .content{
    color: white;
    padding: 17px;
}
.Pink .pink-content .button button{
    background-color: #f14984;
    border: unset;
    color: white;
    border-radius: 25px;
    padding: 20px;
}
/* Pink Media Queries */
@media screen and (max-width:768px){
    .Pink .pink-content{
        flex-direction: column;
    }
    .Pink .pink-content .button{
        padding-top: 30px;
    }
}

/* +++++ Footer Classes +++++*/
.Footer footer{
    width: 60%;
}

.Footer footer .content{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.Footer .achoo p,
.Footer .support p,
.Footer .contact p:last-child
{
    padding-bottom: 10px;
}
.Footer .container .contact .icons{
    display: flex;
    justify-content: space-between;
}
.Footer .container .contact .icons i{
    font-size: 45px;
}
.lower-footer{
    display: flex;
    justify-content: space-between;
}

/* Footer Media Queries */
@media screen and (max-width:768px){
    .Footer footer{
        width: 100%;
    }
    .Footer footer .content{
        flex-direction: column;
    }
    .Footer .container .contact .icons{
        flex-direction: column;
    }
    .Footer .container .contact .icons i{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}